extends page.pug

block append head
    title ZombieAggies | #{location.location}

block prepend styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="")

block append styles
    link(rel="stylesheet" href="/static/minimap.css")
    link(rel="stylesheet" href="/static/manage.css")

block append scripts
    script(src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin="")
    script(src="/static/map.js")

block prepend scripts
    script(src="/static/manage.js")

block append main
    .map-container
        #map
    .location.expanded
        .location-head
            .location-realname #{location.location}
            .location-name #{location.name} 
        .location-actions
            each team in teams
                .location-ownership(onclick="changeOwner(this)" data-csrf=`${csrf}` data-location=`${location.id}` data-team=`${team.id}` style=`--team-color: ${team.color}`) #{team.name} Capture
                    i(class="fas fa-fw fa-flag")
            .location-paired-action
                .location-enable(onclick="changeActive(this)"  data-csrf=`${csrf}` data-location=`${location.id}` data-activity="true") Enable
                    i(class="fas fa-fw fa-check")
                .location-disable(onclick="changeActive(this)"  data-csrf=`${csrf}` data-location=`${location.id}` data-activity="false") Disable
                    i(class="fas fa-fw fa-times")